<html>
<head>
    {% for file in css %}
        <link rel="stylesheet" href="{{ file }}">
    {% endfor %}
</head>
<body>
    <h1>Hoi!</h1>

    <h3>sidebar!</h3>
    <ul>
        {% for entry in admin.sidebar %}
            <li>
                <a href="{{ entry.url }}">{{ entry.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {% for file in javascript %}
        <script type="text/javascript" src="{{ file }}" async></script>
    {% endfor %}
</body>
</html>